body {
  background:  #08070d;
  color: #fff;
}
.container {
  background:#08071f;
  margin: 0 auto;
  width: 500px;
  height: 50vh;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(50%);
}
.clock-box {
  width: 250px;
  text-align: center;
  margin-bottom: 20px;
}
.clock-box .time {
  font-style: italic;
  font-size: 50px;
}
fieldset {  
  margin: 0 auto;
  padding: 26px 20px;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.input-box {
  display: flex;
  margin: 10px 0;
}
.input-box label {
  display: block;
  width: 30%;
}
.input-box input {
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid #d6d6d6;
  flex: 1;
  height: 20px;
}
.warning-msg {
  height: 20px;
  font-size: 12px;
  text-align: center;
  color: red;
}
.btn-login {
  width: 100%;
  padding: 10px;
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  background:#8e15eb;
}
.btn-login:enabled:hover {
  cursor: pointer;
}

.weather-box{
  display: flex;
  justify-content: center;
}
.weather-box p:not(last-child) {
  margin-right: 10px;
}