body {
  background:  #08070d;
  color: #fff;
}
.box {
  width: 350px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.clock-box {
  text-align: center;
}
.container-todo {
  background:#08071f;
  width: 100%;
  height: 60%;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.dark-check {
  margin: 50px 0 0 0;
  position: absolute;
  top: 0;
}
.title {
  text-align: center;
  font-size: 22px;
}
.todo-today {
  text-align: center;
  font-size: 16px;
}
.clear-all {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  color: #e5e5e5;
  margin: 0 36px 10px auto;
  padding: 5px;
  background: #08070e;
  cursor: pointer;
}
.clear-all:hover {
  background: rgba(255, 255, 255, 0.2 );
}
.todo-form {
  display: flex;
}
.input-todo {
  margin: 0 auto;
  width: 80%;
  height: 24px;
}
.input-todo::placeholder{
  text-align: center;
}
.todo-list {
  width: 80%;
  margin: 20px auto;
  height: 100%;
  list-style: none;
  padding-left: 0;
  overflow: auto;
}
.todo-list::-webkit-scrollbar {
  width: 3px;
}
.todo-list::-webkit-scrollbar-thumb {
  background:rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.todo-list li {
  font-size: 16px;
  position: relative;
  padding: 8px 0;
}
.todo-list input {
  width: 16px;
  height: 16px;
}
.todo-list button {
  background: #08071f;
  position: absolute;
  right: 10px;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.todo-counter {
  text-align: center;
  margin: 10px 0;  
}
