.box {
  width: 90%;
  margin: 10px auto 0 auto;
  justify-content: flex-start;
}

.container-todo {
  height: 80%;
}

.dark-check {
  margin: 0;
  right: 0;
}

.dark-mode {
  width: 16px;
  height: 16px;
}

.clock-box {
  text-indent: -9999px;
}

.todo-form {
  display: flex;
  justify-content: center;
}

.input-todo {
  margin: 0;
  margin-left: 10px;
  width: 70%;
  height: 20px;
}

.mobile-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  font-size: 18px;
  margin-left: 10px;
  background-color: #08071f;
  border: none;
}

.submit-img {
  filter: invert(100%);
}

.submit-img.light {
  filter: none;
}
.mobile-submit.light {
  background: #eee;
}
.container-todo.light {
  box-shadow: none;
}